[submodule "deploy"]
	path = deploy
	url = https://github.com/Martians/deploy.git
[submodule "code"]
	path = code
	url = https://github.com/Martians/code.git
[submodule "hadoop"]
	path = hadoop
	url = https://github.com/Martians/hadoop.git
[submodule "notebook"]
	path = notebook
	url = https://github.com/Martians/notebook.git
[submodule "project"]
	path = project
	url = https://github.com/Martians/project.git
[submodule "work"]
	path = work
	url = https://github.com/Martians/work.git
[submodule "frame"]
	path = frame
	url = https://github.com/Martians/frame.git
